.container {
    max-width: 100%;
    margin: auto;
}

.header {
    width: 100%;
    background-color: rgb(242, 237, 191);
    margin: auto;
}

.menu {
    max-width: 1780px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: black;
    border-bottom: 2px solid rgb(134, 132, 132);
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

  .logo img {
    width: 200px;
}

.logo h3 {
    color: rgb(251, 0, 213);
    font-size: 25px;
    transform: translate(-40px, 0px);
}

.navbar {
    position: relative;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;


}

.navbar ul li {
    list-style: none;
    padding: 20px 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
    transition: all 0.2s;
    padding: 10px 0px;
}

.navbar ul li a:hover {
    color: rgb(26, 20, 27);
    border-bottom: 2px solid #3509f7;
    transform: skew(20deg);
    color: blue;

}

.active {
    border-bottom: 2px solid rgba(29, 10, 238, 0.924);
    transition: all 0.5s;

}

.active:hover {
    border: none;
}

.log-in {
    font-size: 25px;
    margin-right: 100px;
}

.btn-demo {
    outline: none;
    font-size: 25px;
    padding: 0px 20px;
    width: 15%;
    background-color: rgb(250, 58, 10);
    border: 0px;
    border-radius: 20px;
    color: white;
    cursor: pointer;

}

.menu-icon {
    display: none;
}

.icon-close {
    display: none;
}